<!DOCTYPE html>
<html ng-app="TodoList">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="img/favicon.ico" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/index.css">
	<script src="js/index.js"></script>	
	<title>Things To Do</title>
</head>

<body ng-controller="localController">
	<header>
        <h1 id="encabezado">Lista de Cosas por Hacer</h1>
		<nav id="menu">
			<ul class="mnuPrin" id="menuPrincipal">
				<li><a href="#inicio">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					Inicio</a></li>
				<li><a href="#noticias">
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
					Noticias</a></li>
				<li><a href="#usuario">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					Usuario</a></li>
				<li><a href="#acerca">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					Nosotros</a></li>
				<li><a href="#contactenos">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					Contactenos</a></li>
				<li class="icon">
					<a href="javascript:void(0);" onclick="menuResponsive()">&#9776;</a>
				</li>
			</ul>
		</nav>
	</header>
    <section id="wrapper-add-todo">
		<form name="formTodo" ng-submit="addTodo()">
		<input id="tarea" type="text" ng-model="newTodo" required placeholder="Ingrese la Tarea" autofocus />
		<button ng-click="addTodo()" type="submit" ng-disabled="formTodo.$invalid" >Add</button>
		<button class="btnRemoverTodo"ng-click="removeAllTodo()">Remove</button>
		</form>
	</section>
	<section id="wrapper-todo">
		<div class="todo-item" ng-repeat="todoItem in todo">
			{{todoItem.name}}
			<span class="remove" ng-click="removeItemTodo($index)">
				<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></span>
		</div>
	</section>
</body>

</html>